Repository njdifiore91/contractor-mgmt-platform-wlrjb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @backend-team, @backend-leads, @qa-team, @frontend-team, @frontend-leads, @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/unit/stores/inspector.store.spec.ts
  src/web/tests/unit/stores/inspector.store.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/unit/utils/api.util.spec.ts
  src/web/tests/unit/utils/api.util.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/unit/utils/validation.util.spec.ts
  src/web/tests/unit/utils/validation.util.spec.ts
Owners: @qa-team, @frontend-team

Fixed the sidebar
  src/web/src/assets/logo.svg
  src/web/src/components/common/AppHeader.vue
  src/web/src/components/common/AppNavigation.vue
  src/web/src/composables/useAuth.ts
  src/web/src/router/index.ts
  src/web/src/router/routes.ts
Owners: @frontend-team

feat:Added the user management flow for admin
  src/web/.env
  src/web/dummy-backend/app.ts
  src/web/dummy-backend/models/user.model.ts
  src/web/dummy-backend/package.json
  src/web/dummy-backend/routes/user.routes.ts
  src/web/dummy-backend/services/user.service.ts
  src/web/package.json
  src/web/src/App.vue
  src/web/src/components/common/AppNavigation.vue
  src/web/src/composables/useAuth.ts
  src/web/src/composables/useUserManagement.ts
  src/web/src/pages/admin/AdminDashboardPage.vue
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/pages/dashboard/DashboardPage.vue
  src/web/src/pages/dashboard/DashboardWrapper.vue
  src/web/src/router/index.ts
  src/web/src/router/routes.ts
  src/web/vite.config.ts
Owners: @frontend-team, @devops-leads

feat:CRUD operations for user management
  src/web/dummy-backend/app.js
  src/web/dummy-backend/models/user.model.ts
  src/web/dummy-backend/package.json
  src/web/dummy-backend/routes/user.routes.ts
  src/web/dummy-backend/src/index.js
  src/web/dummy-backend/src/middleware/require-admin.js
  src/web/dummy-backend/src/middleware/require-auth.js
  src/web/dummy-backend/src/middleware/validate-request.js
  src/web/dummy-backend/src/models/user.model.js
  src/web/dummy-backend/src/routes/user.routes.js
  src/web/dummy-backend/src/services/user.service.js
  src/web/src/composables/useAuth.ts
  src/web/src/composables/useUser.ts
  src/web/src/composables/useUserManagement.ts
  src/web/src/models/search.model.ts
  src/web/src/models/user.model.ts
  src/web/src/pages/admin/AdminDashboardPage.vue
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/pages/dashboard/DashboardWrapper.vue
  src/web/src/router/index.ts
  src/web/src/stores/user.store.ts
  src/web/vite.config.ts
Owners: @frontend-team, @devops-leads, @frontend-leads

feat:CRUD operations for user management
  src/web/src/pages/admin/UserManagementPage.vue
Owners: @frontend-team

feat:Audit logs and statistics workflow for Admin Role management
  src/web/dummy-backend/package.json
  src/web/dummy-backend/src/config/database.js
  src/web/dummy-backend/src/index.js
  src/web/dummy-backend/src/middleware/audit-logger.js
  src/web/dummy-backend/src/middleware/require-auth.js
  src/web/dummy-backend/src/models/audit.model.js
  src/web/dummy-backend/src/models/user.model.js
  src/web/dummy-backend/src/routes/audit.routes.js
  src/web/dummy-backend/src/routes/user.routes.js
  src/web/dummy-backend/src/services/audit.service.js
  src/web/dummy-backend/src/services/user.service.js
  src/web/package.json
  src/web/src/composables/useAudit.ts
  src/web/src/composables/useAuditLog.ts
  src/web/src/composables/useUser.ts
  src/web/src/main.ts
  src/web/src/pages/admin/AuditLogsPage.vue
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/services/audit.service.ts
  src/web/src/stores/user.store.ts
Owners: @devops-leads, @frontend-team, @frontend-leads

Update package.json
  src/web/dummy-backend/package.json
Owners: @devops-leads

Update index.js
  src/web/dummy-backend/src/index.js
Owners: @frontend-team

feat:Added Admin Dashboard at admin route
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/router/routes.ts
Owners: @frontend-team

fix:Removed mongodb connection and database config
  src/web/dummy-backend/src/config/database.js
  src/web/dummy-backend/src/index.js
  src/web/dummy-backend/src/models/audit.model.js
  src/web/dummy-backend/src/models/user.model.js
  src/web/dummy-backend/src/services/audit.service.js
  src/web/dummy-backend/src/services/user.service.js
  src/web/src/composables/useAuditLog.ts
  src/web/src/composables/useUser.ts
  src/web/src/pages/admin/AuditLogsPage.vue
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/stores/user.store.ts
Owners: @frontend-team, @frontend-leads

Update index.js
  src/web/dummy-backend/src/index.js
Owners: @frontend-team

fix:Removed mongodb connection and database config
  src/web/dummy-backend/src/config/database.js
  src/web/dummy-backend/src/index.js
  src/web/dummy-backend/src/models/audit.model.js
  src/web/dummy-backend/src/models/user.model.js
  src/web/dummy-backend/src/services/audit.service.js
  src/web/dummy-backend/src/services/user.service.js
  src/web/src/composables/useAuditLog.ts
  src/web/src/composables/useUser.ts
  src/web/src/pages/admin/AuditLogsPage.vue
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/stores/user.store.ts
Owners: @frontend-team, @frontend-leads

fix:Removed the middleware files implementations
  src/web/dummy-backend/package.json
  src/web/dummy-backend/src/middleware/audit-logger.js
  src/web/dummy-backend/src/middleware/require-admin.js
  src/web/dummy-backend/src/middleware/require-auth.js
  src/web/dummy-backend/src/middleware/validate-request.js
  src/web/dummy-backend/src/routes/audit.routes.js
  src/web/dummy-backend/src/routes/user.routes.js
  src/web/src/composables/useAuditLog.ts
Owners: @devops-leads, @frontend-team

feat:Latest changes for user management and audit logs
  src/web/dummy-backend/src/index.js
  src/web/src/api/audit.api.ts
  src/web/src/api/user.api.ts
  src/web/src/composables/useAuditLog.ts
  src/web/src/composables/useUser.ts
  src/web/src/composables/useUserManagement.ts
  src/web/src/models/audit.model.ts
  src/web/src/pages/admin/AuditLogsPage.vue
  src/web/src/pages/admin/UserManagementPage.vue
  src/web/src/services/audit.service.ts
  src/web/src/stores/audit.store.ts
  src/web/src/stores/user.store.ts
Owners: @frontend-team, @frontend-leads, @backend-leads

feat:Added READMe file
  README.md
Owners: @devops-team

Updated run instructions
  src/web/run-instructions.md
  src/web/src/composables/useAuditLog.ts
Owners: @frontend-team

session restore after multiple redirect limit access
  src/web/src/router/index.ts
Owners: @frontend-team

Login and User Endpoints
  src/backend/src/ServiceProvider.Core/Abstractions/IApplicationDbContext.cs
  src/backend/src/ServiceProvider.Core/Domain/Users/Role.cs
  src/backend/src/ServiceProvider.Core/Domain/Users/User.cs
  src/backend/src/ServiceProvider.Core/Domain/Users/UserRole.cs
  src/backend/src/ServiceProvider.Infrastructure/Data/ApplicationDbContext.cs
  src/backend/src/ServiceProvider.Infrastructure/Migrations/20250304104643_Initial.Designer.cs
  src/backend/src/ServiceProvider.Infrastructure/Migrations/20250304104643_Initial.cs
  src/backend/src/ServiceProvider.Infrastructure/Migrations/20250304120251_MakePhoneNumber_Nullable.Designer.cs
  src/backend/src/ServiceProvider.Infrastructure/Migrations/20250304120251_MakePhoneNumber_Nullable.cs
  src/backend/src/ServiceProvider.Services/ServiceProvider.Services.csproj
  src/backend/src/ServiceProvider.Services/Users/Commands/CreateUserCommand.cs
  src/backend/src/ServiceProvider.Services/Users/Commands/LoginCommand.cs
  src/backend/src/ServiceProvider.Services/Users/Commands/UpdateUserCommand.cs
  src/backend/src/ServiceProvider.Services/Users/Queries/GetUserByIdQuery.cs
  src/backend/src/ServiceProvider.Services/Users/Queries/SearchUsersQuery.cs
  src/backend/src/ServiceProvider.Services/Users/UserProfile.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/AuthController.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/UsersController.cs
  src/backend/src/ServiceProvider.WebApi/Program.cs
  src/backend/src/ServiceProvider.WebApi/ServiceProvider.WebApi.csproj
  src/backend/src/ServiceProvider.WebApi/Startup.cs
  src/backend/src/ServiceProvider.WebApi/appsettings.json
  src/backend/src/src.sln
  src/web/package.json
Owners: @backend-leads, @backend-team, @devops-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
# Unless a later match takes precedence, @devops-team will be requested for
# review when someone opens a pull request
* @devops-team

# Backend code ownership
/src/backend/ @backend-team
/src/backend/src/ServiceProvider.Core/ @backend-leads
/src/backend/src/ServiceProvider.Infrastructure/ @backend-leads
/src/backend/tests/ @qa-team @backend-team

# Frontend code ownership
/src/web/ @frontend-team
/src/web/src/stores/ @frontend-leads
/src/web/src/api/ @frontend-leads @backend-leads
/src/web/src/components/ @frontend-team
/src/web/tests/ @qa-team @frontend-team

# Infrastructure and configuration ownership
/infrastructure/ @devops-team
*.yml @devops-team
*.bicep @devops-team
*.json @devops-leads
*.dockerfile @devops-team
*.kubernetes @devops-leads
