Repository njdifiore91/contractor-mgmt-platform-wlrjb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @backend-team, @backend-leads, @qa-team, @frontend-team, @frontend-leads, @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/infrastructure/kubernetes/web-app-service.yaml
  infrastructure/kubernetes/web-app-service.yaml
Owners: @devops-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/.editorconfig
  src/backend/.editorconfig
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/global.json
  src/backend/global.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Dockerfile
  src/backend/src/ServiceProvider.ApiGateway/Dockerfile
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Program.cs
  src/backend/src/ServiceProvider.ApiGateway/Program.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Startup.cs
  src/backend/src/ServiceProvider.ApiGateway/Startup.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.Development.json
  src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.Development.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.Production.json
  src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.Production.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.Staging.json
  src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.Staging.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.json
  src/backend/src/ServiceProvider.ApiGateway/Configurations/appsettings.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Controllers/HealthCheckController.cs
  src/backend/src/ServiceProvider.ApiGateway/Controllers/HealthCheckController.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.ApiGateway/Properties/launchSettings.json
  src/backend/src/ServiceProvider.ApiGateway/Properties/launchSettings.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Constants/AuthorizationConstants.cs
  src/backend/src/ServiceProvider.Common/Constants/AuthorizationConstants.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Constants/CacheKeys.cs
  src/backend/src/ServiceProvider.Common/Constants/CacheKeys.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Constants/ConfigurationConstants.cs
  src/backend/src/ServiceProvider.Common/Constants/ConfigurationConstants.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Extensions/ClaimsPrincipalExtensions.cs
  src/backend/src/ServiceProvider.Common/Extensions/ClaimsPrincipalExtensions.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Extensions/ConfigurationExtensions.cs
  src/backend/src/ServiceProvider.Common/Extensions/ConfigurationExtensions.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Extensions/StringExtensions.cs
  src/backend/src/ServiceProvider.Common/Extensions/StringExtensions.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Helpers/DateTimeHelper.cs
  src/backend/src/ServiceProvider.Common/Helpers/DateTimeHelper.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Helpers/EncryptionHelper.cs
  src/backend/src/ServiceProvider.Common/Helpers/EncryptionHelper.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Common/Helpers/GeoLocationHelper.cs
  src/backend/src/ServiceProvider.Common/Helpers/GeoLocationHelper.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Abstractions/IApplicationDbContext.cs
  src/backend/src/ServiceProvider.Core/Abstractions/IApplicationDbContext.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Abstractions/ICurrentUserService.cs
  src/backend/src/ServiceProvider.Core/Abstractions/ICurrentUserService.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Abstractions/IDateTimeService.cs
  src/backend/src/ServiceProvider.Core/Abstractions/IDateTimeService.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Abstractions/IDocumentStorageService.cs
  src/backend/src/ServiceProvider.Core/Abstractions/IDocumentStorageService.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Abstractions/IEmailService.cs
  src/backend/src/ServiceProvider.Core/Abstractions/IEmailService.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Audit/AuditLog.cs
  src/backend/src/ServiceProvider.Core/Domain/Audit/AuditLog.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Customers/Contact.cs
  src/backend/src/ServiceProvider.Core/Domain/Customers/Contact.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Customers/Contract.cs
  src/backend/src/ServiceProvider.Core/Domain/Customers/Contract.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Customers/Customer.cs
  src/backend/src/ServiceProvider.Core/Domain/Customers/Customer.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Equipment/Equipment.cs
  src/backend/src/ServiceProvider.Core/Domain/Equipment/Equipment.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Equipment/EquipmentAssignment.cs
  src/backend/src/ServiceProvider.Core/Domain/Equipment/EquipmentAssignment.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Equipment/EquipmentHistory.cs
  src/backend/src/ServiceProvider.Core/Domain/Equipment/EquipmentHistory.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Equipment/EquipmentType.cs
  src/backend/src/ServiceProvider.Core/Domain/Equipment/EquipmentType.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Inspectors/Certification.cs
  src/backend/src/ServiceProvider.Core/Domain/Inspectors/Certification.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Inspectors/DrugTest.cs
  src/backend/src/ServiceProvider.Core/Domain/Inspectors/DrugTest.cs
Owners: @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.Core/Domain/Inspectors/Inspector.cs
  src/backend/src/ServiceProvider.Core/Domain/Inspectors/Inspector.cs
Owners: @backend-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
# Unless a later match takes precedence, @devops-team will be requested for
# review when someone opens a pull request
* @devops-team

# Backend code ownership
/src/backend/ @backend-team
/src/backend/src/ServiceProvider.Core/ @backend-leads
/src/backend/src/ServiceProvider.Infrastructure/ @backend-leads
/src/backend/tests/ @qa-team @backend-team

# Frontend code ownership
/src/web/ @frontend-team
/src/web/src/stores/ @frontend-leads
/src/web/src/api/ @frontend-leads @backend-leads
/src/web/src/components/ @frontend-team
/src/web/tests/ @qa-team @frontend-team

# Infrastructure and configuration ownership
/infrastructure/ @devops-team
*.yml @devops-team
*.bicep @devops-team
*.json @devops-leads
*.dockerfile @devops-team
*.kubernetes @devops-leads
