Repository njdifiore91/contractor-mgmt-platform-wlrjb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @backend-team, @backend-leads, @qa-team, @frontend-team, @frontend-leads, @devops-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
# Unless a later match takes precedence, @devops-team will be requested for
# review when someone opens a pull request
* @devops-team

# Backend code ownership
/src/backend/ @backend-team
/src/backend/src/ServiceProvider.Core/ @backend-leads
/src/backend/src/ServiceProvider.Infrastructure/ @backend-leads
/src/backend/tests/ @qa-team @backend-team

# Frontend code ownership
/src/web/ @frontend-team
/src/web/src/stores/ @frontend-leads
/src/web/src/api/ @frontend-leads @backend-leads
/src/web/src/components/ @frontend-team
/src/web/tests/ @qa-team @frontend-team

# Infrastructure and configuration ownership
/infrastructure/ @devops-team
*.yml @devops-team
*.bicep @devops-team
*.json @devops-leads
*.dockerfile @devops-team
*.kubernetes @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/models/customer.model.ts
  src/web/src/models/customer.model.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/models/drugTest.model.ts
  src/web/src/models/drugTest.model.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/models/equipment.model.ts
  src/web/src/models/equipment.model.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/models/inspector.model.ts
  src/web/src/models/inspector.model.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/models/user.model.ts
  src/web/src/models/user.model.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/auth/LoginPage.vue
  src/web/src/pages/auth/LoginPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/auth/ProfilePage.vue
  src/web/src/pages/auth/ProfilePage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/customers/CustomerDetailPage.vue
  src/web/src/pages/customers/CustomerDetailPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/customers/CustomerListPage.vue
  src/web/src/pages/customers/CustomerListPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/dashboard/DashboardPage.vue
  src/web/src/pages/dashboard/DashboardPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/equipment/EquipmentDetailPage.vue
  src/web/src/pages/equipment/EquipmentDetailPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/equipment/EquipmentListPage.vue
  src/web/src/pages/equipment/EquipmentListPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/inspectors/InspectorDetailPage.vue
  src/web/src/pages/inspectors/InspectorDetailPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/pages/inspectors/InspectorListPage.vue
  src/web/src/pages/inspectors/InspectorListPage.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/router/index.ts
  src/web/src/router/index.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/router/routes.ts
  src/web/src/router/routes.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/stores/auth.store.ts
  src/web/src/stores/auth.store.ts
Owners: @frontend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/stores/customer.store.ts
  src/web/src/stores/customer.store.ts
Owners: @frontend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/stores/equipment.store.ts
  src/web/src/stores/equipment.store.ts
Owners: @frontend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/stores/inspector.store.ts
  src/web/src/stores/inspector.store.ts
Owners: @frontend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/stores/notification.store.ts
  src/web/src/stores/notification.store.ts
Owners: @frontend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/stores/user.store.ts
  src/web/src/stores/user.store.ts
Owners: @frontend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/utils/api.util.ts
  src/web/src/utils/api.util.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/utils/date.util.ts
  src/web/src/utils/date.util.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/utils/geo.util.ts
  src/web/src/utils/geo.util.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/utils/storage.util.ts
  src/web/src/utils/storage.util.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/utils/validation.util.ts
  src/web/src/utils/validation.util.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/components/auth/LoginForm.spec.ts
  src/web/tests/components/auth/LoginForm.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/components/common/AppHeader.spec.ts
  src/web/tests/components/common/AppHeader.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/components/common/DataTable.spec.ts
  src/web/tests/components/common/DataTable.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/components/customers/CustomerForm.spec.ts
  src/web/tests/components/customers/CustomerForm.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/components/equipment/EquipmentForm.spec.ts
  src/web/tests/components/equipment/EquipmentForm.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/components/inspectors/InspectorForm.spec.ts
  src/web/tests/components/inspectors/InspectorForm.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/e2e/auth.cy.ts
  src/web/tests/e2e/auth.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/e2e/customer.cy.ts
  src/web/tests/e2e/customer.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/e2e/equipment.cy.ts
  src/web/tests/e2e/equipment.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/e2e/inspector.cy.ts
  src/web/tests/e2e/inspector.cy.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/unit/stores/auth.store.spec.ts
  src/web/tests/unit/stores/auth.store.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/unit/stores/customer.store.spec.ts
  src/web/tests/unit/stores/customer.store.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tests/unit/stores/equipment.store.spec.ts
  src/web/tests/unit/stores/equipment.store.spec.ts
Owners: @qa-team, @frontend-team
