Repository njdifiore91/contractor-mgmt-platform-wlrjb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @backend-team, @backend-leads, @qa-team, @frontend-team, @frontend-leads, @devops-leads

.github/CODEOWNERS:

# Default owners for everything in the repo
# Unless a later match takes precedence, @devops-team will be requested for
# review when someone opens a pull request
* @devops-team

# Backend code ownership
/src/backend/ @backend-team
/src/backend/src/ServiceProvider.Core/ @backend-leads
/src/backend/src/ServiceProvider.Infrastructure/ @backend-leads
/src/backend/tests/ @qa-team @backend-team

# Frontend code ownership
/src/web/ @frontend-team
/src/web/src/stores/ @frontend-leads
/src/web/src/api/ @frontend-leads @backend-leads
/src/web/src/components/ @frontend-team
/src/web/tests/ @qa-team @frontend-team

# Infrastructure and configuration ownership
/infrastructure/ @devops-team
*.yml @devops-team
*.bicep @devops-team
*.json @devops-leads
*.dockerfile @devops-team
*.kubernetes @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Startup.cs
  src/backend/src/ServiceProvider.WebApi/Startup.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.Development.json
  src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.Development.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.Production.json
  src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.Production.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.Staging.json
  src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.Staging.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.json
  src/backend/src/ServiceProvider.WebApi/Configurations/appsettings.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Controllers/CustomersController.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/CustomersController.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Controllers/DrugTestsController.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/DrugTestsController.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Controllers/EquipmentController.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/EquipmentController.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Controllers/InspectorsController.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/InspectorsController.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Controllers/UsersController.cs
  src/backend/src/ServiceProvider.WebApi/Controllers/UsersController.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Filters/ApiExceptionFilter.cs
  src/backend/src/ServiceProvider.WebApi/Filters/ApiExceptionFilter.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Middleware/RequestLoggingMiddleware.cs
  src/backend/src/ServiceProvider.WebApi/Middleware/RequestLoggingMiddleware.cs
Owners: @backend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/backend/src/ServiceProvider.WebApi/Properties/launchSettings.json
  src/backend/src/ServiceProvider.WebApi/Properties/launchSettings.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.editorconfig
  src/web/.editorconfig
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.env
  src/web/.env
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.env.staging
  src/web/.env.staging
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.prettierignore
  src/web/.prettierignore
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/package.json
  src/web/package.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/quasar.config.ts
  src/web/quasar.config.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/tsconfig.node.json
  src/web/tsconfig.node.json
Owners: @devops-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/vitest.config.ts
  src/web/vitest.config.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/App.vue
  src/web/src/App.vue
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/env.d.ts
  src/web/src/env.d.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/main.ts
  src/web/src/main.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/shims-vue.d.ts
  src/web/src/shims-vue.d.ts
Owners: @frontend-team

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @frontend-leads, @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/api/customer.api.ts
  src/web/src/api/customer.api.ts
Owners: @frontend-leads, @backend-leads

Add public-samples/contractor-mgmt-platform-wlrjb3/src/web/src/api/drugTest.api.ts
  src/web/src/api/drugTest.api.ts
Owners: @frontend-leads, @backend-leads
